:root{
    --main-bg-color: #F7F8FC;
    --active-color: #3751FF;
    --main-color: #252733;
    --deactive-color: #A4A6B3;
    --form-border-color: #DFE0EB;
}

.mycontainer {
    display: flex;
}

.card{
    height: 130px;
    width: 228px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--deactive-color) 2px solid;
    border-radius: 6px;
    cursor: pointer;
}

.card + .card {
    margin-left: 53px;
}
.card-value{
    color: var(--main-color);
    font-size: 25px;
    font-weight: 700;
}
.active-card,
.card:hover{
    border-color: var(--active-color);
}
.active-card > .card-value,
.card:hover > .card-value{
    color: var(--active-color);
}
.active-card > .card-text,
.card:hover > .card-text{
    color: var(--active-color);
}

    