.container {
	margin-left: 270px;
	margin-right: 15px;
}

.chart-section {
	margin-top: 50px;
}

.chart-section__inner {
	height: 546px;
	display: flex;
	border: 1px solid #DFE0EB;
	background-color: #fff;
	border-radius: 8px;
}

.chart-section__chart {
	width: 780px;
	padding: 32px;
}

.chart__title {
	margin-bottom: 55px;
}

.chart__title h4 {
	font-family: 'Mulish-Bold';
	font-size: 19px;
	line-height: 24px;
	letter-spacing: 0.4px;
	color: #252733;
}

.chart__title span {
	font-family: 'Mulish-Regular';
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.1px;
	color: #9FA2B4;
}

.chart-section__content {
	border-left: 1px solid #DFE0EB;
	width: 342px;
	height: 100%;
}

.chart-section__content-list {
	list-style: none;
}

.chart-section__content-list li {
	height: 108px;
	text-align: center;
	padding-top: 28px;
}

.chart-section__content-list li + li {
	border-top: 1px solid #DFE0EB;
}

.chart-section__content-list li span {
	display: block;
}

.chart-section__content-list-title {
	font-family: 'Mulish-SemiBold';
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0.3px;
	color: #9FA2B4;
}

.chart-section__content-list-value {
	font-family: 'Mulish-SemiBold';
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.3px;
	color: #252733;
}