*{
    font-family: "Mulish-Regular";
    text-decoration: none;
}
:root{
    --main-bg-color: #F7F8FC;
    --active-color: #3751FF;
    --main-color: #252733;
    --deactive-color: #A4A6B3;
    --form-border-color: #DFE0EB;
}
header .container{
    margin-top: 27px;
    margin-bottom: 29px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.searchbar{
    display: flex;
    justify-content: space-between;
    flex: 1 1 80%;
    align-items: center;
    margin-right: 20px;
}
.searchbar h1{
    font-family: 'Mulish-Bold';
    font-size: 25px;
    line-height: 24px;
    color: var(--main-color);
}
.icons{
    display: flex;
    justify-content: space-around;
    width: 10%;
}
.bell , .search, .signOut{
    color: var(--deactive-color);
}
.bell:hover, .search:hover, .signOut:hover{
    color: var(--active-color);
}
.border{
    width: 1px;
    height: 20px;
    background-color: var(--deactive-color) ;
}
.user{
    display: flex;
    align-items: center;
    flex: 1 0 auto;
}
.user a{
    color: var(--main-color);
    flex-shrink: 0;
    font-size: 17px;
    text-align: right;
    font-family: 'Roboto', sans-serif;
}

.user-image{
    width: 30px;
    flex-shrink: 0;
    height: 30px;
    border-radius: 50%;
    margin-left: 15px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
