*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

@font-face {
	font-family: 'Mulish-Regular';
	src: url('../fonts/Mulish/Mulish-Regular.woff2') format('woff2'),
		 url('../fonts/Mulish/Mulish-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mulish-SemiBold';
	src: url('../fonts/Mulish/Mulish-SemiBold.woff2') format('woff2'),
		 url('../fonts/Mulish/Mulish-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mulish-Bold';
	src: url('../fonts/Mulish/Mulish-Bold.woff2') format('woff2'),
		 url('../fonts/Mulish/Mulish-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	background-color: #F7F8FC;
}

.sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	height: 900px; /* main size = 1234px */
	background-color: #363740;
	width: 255px;
	padding-top: 37px;

}

.sidebar__logo {
	display: flex;
	align-items: center;
	margin-bottom: 58px;
	margin-left: 32px;
}

.sidebar__logo span {
	color: #A4A6B3;
	font-family: 'Mulish-Bold';
	font-size: 19px;
	line-height: 24px;
	margin-left: 14px;
}

.sidebar__list {
	list-style: none;	
	margin-bottom: 16px;
}

.sidebar__list + .sidebar__list {
	margin-bottom: 0;
	padding-top: 16px;
}

.sidebar__list-settings {
	border-top: 1px solid rgba(223,224,235,0.06);
}

.sidebar__link {
	height: 56px;
	text-decoration: none;
	color: #A4A6B3;
	display: flex;
	align-items: center;
	padding-left: 32px;
	transition: all 0.3s ease;
	border-left: 3px solid #363740;
}

.sidebar__link svg {
	width: 16px;
	height: 16px;
}

.sidebar__link span {
	margin-left: 24px;
	font-family: 'Mulish-Regular';
	font-size: 16px;
	line-height: 20px;
}

.sidebar__link:hover {
	border-color: rgba(159,162,180,0);
	background-color: rgba(159,162,180,0.08);
	color: #DDE2FF;
}

.sidebar__link:hover svg path {
	fill: #DDE2FF;
	opacity: 1;
}

.sidebar__link.active {
	background-color: rgba(159,162,180,0.08);
	color: #DDE2FF;
	border-left: 3px solid #DDE2FF;
}

.sidebar__link.active svg path {
	fill: #DDE2FF;
	opacity: 1;
}