@import url('./fonts.css');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  color: #1BAC5E;
  font-family: 'Rota-Regular';
  font-weight: normal;
}
body.lock {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1680px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  box-shadow: 0px 5px 12px rgba(27, 172, 94, 0.2);
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  z-index: 2;
}

.header__body {
  padding: 10px 0 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__name {
  display: flex;
  align-items: center;
}

.header__logo img {
  max-width: 100%;
}

.header__title {
  font-family: 'Rota-MediumItalic';
  font-weight: 500;
  font-style: italic;
  font-size: 24px;
  line-height: 28px;
  color: #263238;
  opacity: 0.5;
  border-left: 1px solid #1BAC5E;
  padding: 15px 0 15px 12px;
  margin-left: 48px;
}

.header__title span {
  display: block;
}

.header__tg,
.header__tg-mobile,
.header__phone {
  display: flex;
  align-items: center;
}

.header__tg,
.header__tg-mobile {
  flex: 0 1 270px;
}

.header__name,
.header__tg,
.header__phone {
  margin-bottom: 30px;
}

.header__tg p,
.header__tg-mobile p {
  margin-left: 22px;
  font-family: 'Rota-SemiboldItalic';
  font-weight: 600;
  font-style: italic;
  font-size: 14px;
  line-height: 17px;
}

.header__tg a,
.header__tg-mobile a {
  color: #3AACFF;
}

.header__tg-mobile {
  display: none;
  flex-basis: 236px;
}
.header__tg-mobile img {
  width: 45px;
}
.header__tg-mobile p {
  margin-left: 15px;
}


.header__phone span {
  display: block;
  font-family: 'Rota-MediumItalic';
  font-weight: 500;
  font-style: italic;
  font-size: 14px;
  line-height: 17px;
}

.header__phone p {
  margin-left: 23px;
  font-family: 'Rota-Extrabold';
  font-weight: 800;
  font-size: 36px;
  line-height: 45px;
}

.consultant {
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: flex;
  align-items: center;
  z-index: 30;
}
.consultant.active {
  transform: translateY(15px);
}

.message {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #1BAC5E;
  background-color: #fff;
  border-radius: 20px;
  padding: 0;
  transform: scale(0);
  transition: transform 0.5s ease;
}
.message .close,
.message img,
.message .message__text {
  display: none;
}
.message.active {
  padding: 20px 40px;
  transform: scale(1.0);
}
.message.active .close,
.message.active img,
.message.active .message__text {
  display: block;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
  70% {
    -webkit-box-shadow: 0 0 0 25px rgba(204,169,44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    box-shadow: 0 0 0 0 ;
  }
  70% {
    -moz-box-shadow: 0 0 0 25px rgba(204,169,44, 0);
    box-shadow: 0 0 0 25px rgba(204,169,44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}
.close:hover .x {
  fill: #000;
}

.message__text {
  width: 220px;
  margin-left: 10px;
  font-family: 'Rota-Light';
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.message__text span {
  display: block;
  font-family: 'Rota-Extrabold';
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.message-icon {
  margin-left: 20px;
  padding: 25px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #1BAC5E;
  animation: pulse 2s infinite;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.consultant.active .message-icon {
  animation: none;
}
.message-icon img {
  display: block;
}

.main-page {
  /*padding-bottom: 50px;*/
  background-image: url(../img/pattern1.png);
  background-repeat: no-repeat;
  background-size: cover;
  /*min-height: 100vh;*/
  overflow: hidden;
}

.main-page .swiper-wrapper {
  position: static;
}

.main-page .swiper-slide {
  min-height: 100vh;
  padding-bottom: 50px;
  overflow: hidden;
}

.play-btn-container {
  position: absolute;
  left: 58%; /* 755px */
  top: 60%; /* 395px */
  z-index: 3;
  text-align: center;
}

.play-btn {
  background-color: #fff;
  padding: 13px;
  border-radius: 50%;
}

.play-btn p {
  margin: 0 auto;
  font-family: 'Rota-Extrabold';
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.main-page-border {
  width: 1015px;
  height: 118vh;
  border: 4px dashed #1BAC5E;
  border-radius: 50%;
  position: absolute;
  top: -85px;
  right: -30%;
}

.main-page-img {
  /*width: 764px;*/
  width: 100vh;
  height: 100vh;
  background-repeat: no-repeat;
  padding: 30px;
  background-size: cover;
  background-position: right bottom;
  position: absolute;
  top: 0;
  right: 0;
}

.main-page .swiper-slide1 .main-page-img {
  background-image: url(../img/main-bg-1.png);
}
.main-page .swiper-slide2 .main-page-img {
  background-image: url(../img/main-bg-2.png);
}
.main-page .swiper-slide3 .main-page-img {
  background-image: url(../img/main-bg-3.png);
}

.main-page__button-prev,
.main-page__button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.main-page__button-prev {
  left: 10px;
}
.main-page__button-next {
  right: 10px;
}

.main-page__text {
  padding-top: 60px;
  padding-left: 60px;
}

.main-page__text h1 {
  font-family: 'Rota-Extrabold';
  font-weight: 800;
  font-size: 54px;
  line-height: 70px;
  letter-spacing: -0.05em;
  color: #1C3B1F;
  margin-bottom: 30px;
}

.main-page__text ol {
  width: 700px;
}

.main-page__text li {
  margin-left: 30px;
  font-family: 'Rota-Extrabold';
  font-weight: 800;
  font-size: 26px;
  line-height: 35px;
  color: #263238;
  opacity: 0.8;
}

.main-page__text li + li {
  margin-top: 20px;
}

.main-page__btn-container {
  display: inline-block;
  position: relative;
  margin-top: 30px;
  margin-left: 60px;
  padding: 5px;
  overflow: hidden;
}
.main-page__btn-container::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: -5px;
  left: 66px;
  background-color: #BC9C27;
  transform: rotate(-30deg);
}
.main-page__btn-container::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 56px;
  left: 0px;
  background-color: #BC9C27;
  transform: rotate(-50deg);
}

.main-page__btn {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Rota-Bold';
  font-weight: bold;
  font-size: 20px;
  background: linear-gradient(178.47deg, #42EA90 1.3%, #00DD66 1.31%, #1BAC5E 20.07%);
  border: 0.5px solid #0A552D;
  padding: 22px 67px 17px 67px;
  border-radius: 7px;
  color: #fff;
  box-shadow: 0 5px 0 #0A552D;
  z-index: 10;
  cursor: pointer;
  transition: all 0.1s ease;
}
.main-page__btn:hover {
  background: linear-gradient(178.47deg, #32af6c 1.3%, #26b166 1.31%, #1a8a4e 20.07%);
}
.main-page__btn:active {
  box-shadow: none;
  transform: translateY(5px);
}
.main-page__btn:active .free {
  padding: 5px 46px;
}

.free {
  position: absolute;
  color: #2C2C2C;
  font-family: 'Rota-Extrabold';
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;
  padding: 5px 50px;
  transform: rotate(-40deg);
  left: -35px;
  top: 10px;
  background: linear-gradient(244.07deg, #FDD950 16.3%, #FFE78D 36.76%, #FFD950 92.92%);
}

.main-page__btn span {
  display: block;
  font-family: 'Rota-Regular';
  font-weight: normal;
  font-size: 13px;
  letter-spacing: -0.5px;
}

.trigger {
  width: 100%;
  padding: 70px 0;
  background-color: #1BAC5E;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 0 #0A552D;
  position: relative;
  z-index: 5;
}

.trigger p {
  text-align: center;
  color: #fff;
  font-family: 'Rota-Extrabold';
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  position: relative;
  z-index: 10;
}

.bottom__arrow {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -11px;
  width: 100px;
  height: 100px;
  background: #1BAC5E;
  border-bottom-left-radius: 20px;
  box-shadow: -5px 5px 0 #0A552D;
  transform: rotate(-45deg) translateX(-50%);
}

.page-section {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 60px;
  background-position: left bottom;
  background-repeat: no-repeat;
}

.natural {
  background-image: url(../img/pattern22.png);
}

/*.page-section__inner {
  background-image: url(../img/natural-enzyn2.png);
  background-repeat: no-repeat;
  background-position: right center;
}
*/
.page__title {
  color: #000;
  font-family: 'Rota-Extrabold';
  font-weight: 800;
  font-size: 64px;
  line-height: 80px;
  max-width: 800px;
  margin-bottom: 50px;
}

.page__title span {
  color: #1BAC5E;
}

.page__content-container {
  display: flex;
}

.page__content-img {
  margin-top: -100px;
  flex: 0 1 50%;
  order: 2;
}

.page__content-img img {
  max-width: 100%;
}

.page__content {
  flex: 0 1 50%;
  order: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page__content-item {
  width: 45%;
  padding-left: 20px;
  margin-bottom: 100px;
}

.page__content-item-list li span {
  font-family: 'Rota-Light';
  font-weight: 300;
  display: block;
  margin-left: -20px;
  text-indent: 20px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.page-section-btn {
  cursor: pointer;
  display: inline-block;
  padding: 31px 0px 31px 28px;
  background: linear-gradient(178.47deg, #F6C21D 1.3%, #FEF49D 1.31%, #F5BF17 20.07%);
  border: 0.5px solid #C19922;
  border-radius: 7px;
  box-shadow: 0 5px 0 #C19922;
  margin-left: 50%;
  font-family: 'Rota-Extrabold';
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #2C2C2C;
}
.page-section-btn:hover {
  background: linear-gradient(178.47deg, #cea219 1.3%, #f3e997 1.31%, #ecb814 20.07%);
}
.page-section-btn:active {
  box-shadow: none;
  transform: translateY(5px);
}

.page-section-btn span {
  padding-right: 115px;
  position: relative;
}

.page-section-btn span::after {
  content: '';
  position: absolute;
  top: -50px;
  right: -30px;
  width: 152px;
  height: 110px;
  background-image: url(../img/book.png);
}

/*.super .page-section__inner {
  background-image: url(../img/water.png);
}*/

.super {
  background-image: url(../img/pattern3.png);
  background-size: contain;
  background-position: center center;
}

/*.senna .page-section__inner {
  background-image: url(../img/senna-herbal2.png);
}*/

.senna {
  background-image: url(../img/pattern4.png);
  background-size: contain;
  background-position: center top;
}

.advice {
  overflow: hidden;
  position: relative;
  background-color: #1BAC5E;
  background-image: url(../img/pattern6.png);
  background-position: center -50px;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 50px;
}

.bg-text {
  bottom: 50px;
  position: absolute;
  width: 1200px;
  color: #FFFFFF;
  font-size: 100px;
  line-height: 110px;
  opacity: 0.2;
  cursor: default;
}

.advice__title {
  color: #fff;
  text-align: center;
  font-family: 'Rota-Extrabold';
  font-weight: 800;
  font-size: 54px;
  line-height: 70px;
  margin-bottom: 30px;
}

.advice__video-container {
  display: flex;
  justify-content: center;
  padding: 0 100px;
}

.advice__video {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 500px;
  border-radius: 15px;
  background-color: #fff;
}
.advice__video iframe {
  width: 100%;
  height: 100%;
}

.advice__voice-control {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.advice__voice-bar {
  cursor: pointer;
  display: flex;
  flex-direction: column-reverse;
  width: 40px;
  height: 405px;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 3px;
  position: relative;
  z-index: 20;
}

.advice__voice-bar div {
  display: block;
  background-color: #fff;
  border-radius: 10px;
}

.advice__voice-bar span {
  display: none;
}

.ui-widget-content {
  background: transparent;
}

.sertificates__container {
  width: 80%;
  max-width: 1480px;
  margin: 0 auto;
  margin-bottom: -100px;
  padding: 150px 50px 130px 50px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  position: relative;
  z-index: 5;
}

.sertificates__title {
  margin: 0 auto;
  margin-bottom: 100px;
  color: #000;
  font-size: 50px;
  line-height: 70px;
  text-align: center;
}

.sertificates__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sertificates__card {
  width: calc(100% / 3 - 20px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
  margin-bottom: 20px;
}

.sertificates__card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
}

.sertificates__card img {
  display: block;
  max-width: 100%;
  width: 100%;
}

.recomendations {
  background-color: #1BAC5E;
  padding-top: 190px;
  padding-bottom: 200px;
  position: relative;
}

.recomendations__title {
  text-align: center;
  font-family: 'Rota-Extrabold';
  font-weight: 800;
  font-size: 64px;
  line-height: 80px;
  color: #FFFFFF;
  margin-bottom: 100px;
}

.recomendations__card-inner {
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-height: 300px;
  overflow: hidden;
}

.recomendations__card-inner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.recomendations__card.swiper-slide-active .recomendations__card-inner::before {
  display: none;
}

.recomendations__card.swiper-slide-active .recomendations__card-inner {
  height: auto;
  max-height: none;
  transform: scale(1.3);
}

.recomendations__card-title {
  background-color: #fff;
  padding: 30px 30px;
  text-align: center;
  font-weight: 800;
  font-size: 25px;
  line-height: 35px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.recomendations__card.swiper-slide-active .recomendations__card-title {
  font-size: 34px;
  line-height: 45px;
}

.swiper-container {
  overflow: visible;
}

.recomendations__card-video iframe {
  display: block;
  max-width: 100%;
  width: 100%;
  max-height: 200px;
}

.recomendations__video-controls {
  display: flex;
  margin-top: 130px;
  justify-content: center;
  align-items: center;
}

.recomendations__video-progress {
  width: 350px;
  height: 10px;
  background-color: #fff;
  border-radius: 20px;
  margin: 0 30px;
  padding: 1px 2px;
  cursor: pointer;
}
.recomendations__video-progress span {
  display: block;
  width: 50%;
  height: 100%;
  background-color: #818181;
  border-radius: 20px;
}

.button-next,
.button-prev {
  cursor: pointer;
  position: relative;
  outline: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button-next div,
.button-prev div {
    position: relative;
    text-align: center;
    top: 50%;
    width: 25px;
    height: 4px;
    background-color: #1BAC5E;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
}
.button-next div::after,
.button-prev div::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: #1BAC5E;
}
.button-next div::after {
  top: -6px;
  right: -4px;
  transform: rotate(45deg);
}
.button-prev div::after {
  top: -6px;
  left: -4px;
  transform: rotate(-45deg);
}
.button-next div::before,
.button-prev div::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 4px;
    background-color: #1BAC5E;
}
.button-next div::before {
  top: 6px;
  right: -4px;
  transform: rotate(-45deg);
}
.button-prev div::before {
  top: 6px;
  left: -4px;
  transform: rotate(45deg);
}
.button-prev:hover,
.button-next:hover {
  opacity: 0.8;
}
.button-prev:active,
.button-next:active {
  opacity: 0.5;
}

.contact {
  background-image: url(../img/pattern7.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.contact__inner {
  display: flex;
  padding-top: 300px;
  align-items: center;
}

.contact__left {
  width: 50%;
  order: 1;
}

.contact__title {
  display: inline-block;
  color: #000;
  font-size: 50px;
  margin-bottom: 65px;
}

.contact__title span {
  color: #1BAC5E;
}

.contact__form {
  display: inline-block;
  background: #F5F4FF;
  border: 5px solid #1BAC5E;
  box-shadow: 10px 16px 22px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  padding: 50px;
  margin-bottom: 30px;
}

.contact__form-title {
  font-family: 'Rota-Bold';
  font-weight: bold;
  margin-bottom: 35px;
  font-size: 36px;
  line-height: 100%;
  color: rgba(35, 36, 42, 0.9);
}

.contact__form-title span {
  display: block;
  font-size: 12px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.5);
}

.contact__form input {
  display: block;
  width: 325px;
  padding: 20px 20px 20px 20px;
  font-family: 'Rota-Bold';
  font-weight: bold;
  font-size: 25px;
  outline: none;
  border: 3px solid #1BAC5E;
  border-radius: 10px;
  margin-bottom: 30px; 
  color: rgba(35, 36, 42, 0.9); 
}

.contact__form input:last-of-type {
  padding-top: 5px;
  padding-bottom: 40px;
}

.contact__form .main-page__btn-container {
  margin: 0;
}

.contact__img {
  width: 50%;
  order: 2;
}

.contact__img img {
  display: block;
  max-width: 100%;
}

/*.button-next.swiper-button-disabled,
.button-prev.swiper-button-disabled {
  background-color: red;
}*/

.delivery {
  background-image: url(../img/pattern8.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center -250px;
}

.delivery__inner {
  padding-top: 200px;
  padding-bottom: 60px;
  display: flex;
}

.delivery__img {
  width: 50%;
}
.delivery__img img {
  display: block;
  max-width: 100%;
}

.delivery__right {
  width: 50%;
  padding-left: 30px;
}

.delivery__title {
  font-family: 'Rota-Extrabold';
  font-weight: 800;
  font-size: 48px;
  line-height: 50px;
  color: #23242A;
  max-width: 400px;
  margin-bottom: 25px;
}
.delivery__right p {
  color: #000;
  font-size: 20px;
  line-height: 30px;
  max-width: 450px;
  margin-bottom: 30px;
}

.delivery__btn {
  cursor: pointer;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Rota-Bold';
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  background: linear-gradient(178.47deg, #42EA90 1.3%, #00DD66 1.31%, #1BAC5E 20.07%);
  border: 0.5px solid #0A552D;
  padding: 25px 40px 25px 40px;
  border-radius: 7px;
  color: #fff;
  box-shadow: 0 5px 0 #0A552D;
  /*transition: all 0.1s ease;*/
}
.delivery__btn:hover {
  background: linear-gradient(178.47deg, #32af6c 1.3%, #26b166 1.31%, #1a8a4e 20.07%);
}
.delivery__btn:active {
  box-shadow: none;
  transform: translateY(5px);
}

.footer {
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: #1C3B1F;
}

.footer__inner {
  padding-left: 100px;
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__logo img {
  display: block;
  max-width: 100%;
}

.footer__lists {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 200px;
  padding-top: 20px;
}

.footer__list + .footer__list {
  margin-left: 40px;
}

.footer__list {
  list-style: none;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
}

.footer__list li {
  font-size: 20px;
  font-family: 'Rota-Light';
  font-weight: 300;
  line-height: 30px;
}

.footer__list li:first-child h6{
  font-size: 28px;
  font-family: 'Rota-Bold';
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__btn {
  background-color: #fff;
  color: #000;
  align-self: start;
  font-family: 'Rota-Bold';
  font-weight: bold;
  font-size: 24px;
  padding: 20px 35px;
  cursor: pointer;
  margin-top: 15px;
  transition: all 0.2s ease;
}
.footer__btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.footer__btn:active {
  background-color: rgba(255, 255, 255, 0.5);
}

.footer__line {
  height: 2px;
  margin-left: 100px;
  background-color: #8D9D8F;
}

.footer__rights {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  margin-top: 50px;
  color: rgba(255, 255, 255, 0.8);
}

.footer__rights-left {
  font-size: 18px;
}

.footer__rights-left span {
  font-family: 'Rota-Bold';
  font-weight: bold;
}

.footer__rights-right {
  display: flex;
  align-items: center;
}

.footer__phone {
  font-family: 'Rota-Bold';
  font-weight: bold;
  font-size: 18px;
  margin-right: 20px;
}

.footer__rights-right p {
  font-family: 'Rota-Bold';
  font-weight: bold;
  font-size: 18px;
}

.footer__rights-right a:nth-child(n+2) {
  margin-left: 15px;
}

.modal__bg {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 190;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal__bg.active {
  display: block;
}

.modal {
  position: fixed;
  z-index: 200;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  right: 0;
  bottom: 0;
  transition:  all 0.5s ease;
}
.modal.active {
  left: 0;
}

.modal__form {
  position: absolute;
  width: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #F5F4FF;
  border: 3px solid #1BAC5E;
  box-shadow: 10px 16px 22px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  transition: all 1s ease;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000;
  cursor: pointer;
}
.modal__close:hover .x {
  fill: #000;
}

.modal__form-title {
  font-family: 'Rota-Bold';
  font-weight: bold;
  color: rgba(35, 36, 42, 0.9);
  font-size: 30px;
  margin-bottom: 20px;
}

.modal__form-title span {
  display: block;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.modal__form input {
  display: block;
  width: 95%;
  font-family: 'Rota-Bold';
  font-weight: bold;
  font-size: 20px;
  outline: none;
  border: 3px solid #1BAC5E;
  border-radius: 10px; 
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 10px;
  color: rgba(35, 36, 42, 0.9); 
}

.modal__form .main-page__btn-container {
  margin: 0;
}

.modal__form .main-page__btn {
  padding: 22px 40px 17px 40px;
}

@media (max-width: 1400px) {
  .main-page-img {
    background-size: contain;
    background-position: right top;
    width: 800px;
  }
  /*.play-btn-container {
    left: 43%;
    top: 59%;
  }*/
  .main-page-border {
    width: 920px;
    height: 120vh;
  }

  .page__content-img {
    flex: 0 1 60%;
    margin-top: 0
  }


  .page__content {
    flex: 0 1 40%;
  }
}

@media (max-width: 1200px) {
  .main-page-img {
    width: 600px; /*456*/
    background-position: right top;
  }
  .page__content-container {
    display: block;
  }
  .page__content-item {
    width: 45%;
  }
  .sertificates__card-text {
    padding: 30px 0;
  }
  .recomendations__card.swiper-slide-active .recomendations__card-title {
    font-size: 30px;
    line-height: 34px;
  }
  .recomendations__card-title {
    padding: 15px 30px;
  }
  .footer__rights {
    width: 100%
  }
  .footer__rights-left {
    width: 100%;
    text-align: center;
    order: 2;
  }
  .footer__rights-right {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    order: 1;
    margin-bottom: 10px
  }
}

@media (max-width: 1100px) {
  .main-page-img {
    width: 400px; /*456*/
    background-position: right top;
  }
  .play-btn-container {
    left: 61%;
    top: 35%;
  }
  .sertificates__title {
    margin-bottom: 80px;
    font-size: 40px;
    line-height: 60px;
    width: 100%
  }
  .footer__inner {
    padding-left: 10px
  }
}

@media (max-width: 1000px) {
  .main-page {
    min-height: initial;
  }
  .main-page-img,
  .play-btn-container {
    display: none;
  }
  .main-page .swiper-slide {
    min-height: auto;
  }
  .main-page__button-next path {
    fill: #ccc;
  }
  .main-page__text ol {
    width: initial;
  }
  .page-section-btn {
    margin-left: 40%;
  }
  .page__title {
    margin-bottom: 0
  }
  .advice__video-container {
    padding: 0 70px;
  }
  .advice__voice-control {
    margin-left: 50px;
  }
  .sertificates__card {
    width: calc(100% / 2 - 15px);
  }
  .sertificates__container {
    padding: 100px 50px 80px 50px;
  }
  .swiper-container {
    overflow: hidden;
  }
  .recomendations__card-inner {
    width: 90%;
    margin: 0 auto;
    height: auto;
  }
  .recomendations__card.swiper-slide-active .recomendations__card-inner {
    transform: none;
  }
  .recomendations__video-controls {
    margin-top: 100px;
  }
  .contact__inner {
    padding-top: 200px;
  }
  .contact__left {
    width: 65%;
  }
  .contact__img {
    width: 35%;
  }
  .recomendations {
    padding-bottom: 150px;
  }
  .delivery {
    background-position: center -175px;
  }
  .footer__logo {
    order: 1;
  }
  .footer__btn {
    order: 2;
  }
  .footer__lists {
    width: 80%;
    order: 3;
  }
  .footer__list {
    width: calc(100% / 3 - 40px);
    margin-left: 0
  }
  .footer__list + .footer__list {
    margin-left: 0px; 
  }
  .footer__line {
    margin-left: 0
  }
}

@media (max-width:  800px) {
  .page-section-btn {
    margin: 0 auto;
  }
  .page-section {
    padding-left: 0px;
  }
  .trigger {
    padding: 25px 0
  }
  .trigger p {
    font-size: 25px;
    line-height: 35px;
  }
  .page__title {
    font-size: 53px;
    line-height: 70px;
  }
  .advice__title {
    font-size: 40px;
    line-height: 60px;
  }
  .advice__video {
    height: 400px;
  }
  .advice__voice-control {
    display: none;
  }
  .sertificates__card {
    width: 100%;
  }
  .recomendations__title {
    font-size: 60px;
    line-height: 70px;
  }
  .contact__inner {
    display: block; 
    padding-top: 80px;
  }
  .contact__title {
    padding: 0 70px;
    font-size: 35px;
    display: block;
  }
  .contact__left {
    width: 100%;
    text-align: center
  }
  .contact__img {
    width: 100%;
  }
  .contact__img img {
    width: 60%;
    position:  relative;
    z-index: -1;
    margin: 0 auto;
  }
  .delivery {
    background-position: center -130px;
  }
  .delivery__inner {
    display: block;
    padding-top: 150px;
  }
  .delivery__img {
    width: 100%;
    margin: 0 auto;
  }
  .delivery__right {
    width: 100%;
    padding-left: 0;
    margin-top: 20px
  }
  .footer__lists {
    width: 100%;
  }
  .consultant {
    right: 20px;
    bottom: 35px;
  }
  .consultant.active {
    transform: translateY(11px);
  }
  .message-icon {
    padding: 20px;
  }
  .message.active {
    padding: 10px;
  }

@media (max-width:  580px) {
  .header__body {
    justify-content: center;
    padding-top: 15px;
  }
  .header__logo {
    flex-basis: 100px;
  }
  .header__title,
  .header__tg,
  .header__phone {
    display: none;
  }
  .header__tg-mobile {
    display: flex;
  }
  .header__name {
    margin-bottom: 20px;
    justify-content: space-between
  }
  .main-page__text h1 {
    font-size: 38px;
    line-height: 50px;
    margin-left: -25px;
  }
  .main-page__button-prev svg,
  .main-page__button-next svg {
    width: 20px;
    height: 20px;
  }
  .page-section-btn {
    padding-right: 28px;
    text-align: center;
  }
  .page-section-btn span {
    padding-right: 0
  }
  .page-section-btn span::after {
    display: none;
  }
  .trigger p {
    font-size: 30px;
    line-height: 40px;
  }
  .page__title {
    font-size: 30px;
    line-height: 40px;
  }
  .page__content-item {
    width: 100%;
    padding-left: 20px;
    margin-bottom: 50px;
  }
  .bottom__arrow {
    width: 60px;
    height: 60px;
    bottom: -6px
  }
  .advice__title {
    font-size: 25px;
    line-height: 40px;
  }
  .advice__video-container {
    padding: 0 20px;
  }
  .advice__video {
    height: 350px;
  }
  .bg-text {
    display: none;
  }
  .sertificates__card-img {
    height: 200px;
  }
  .recomendations__card.swiper-slide-active .recomendations__card-title {
    font-size: 30px;
    line-height: 34px;
  }
  .recomendations__card-title {
    padding: 20px 0px;
  }
  .recomendations__video-controls {
    margin-top: 50px;
  }
  .recomendations__video-progress {
    display: none;
  }
  .button-prev {
    margin-right: 50px
  }
  .button-next {
    margin-left: 50px
  }
  .button-prev,
  .button-next {
    width: 45px;
    height: 45px
  }
  .recomendations__title {
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 70px;
  }
  .contact__form {
    padding: 50px 30px
  }
  .contact__form-title {
    font-size: 28px;
  }
  .contact__form input {
    width: 290px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .contact__title {
    padding: 0;
  }
  .recomendations {
    padding-bottom: 100px;
  }
  .delivery {
    background-position: center -40px;
  }
  .delivery__title {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 15px
  }
  .footer__list {
    width: calc(100% / 2 - 20px);
  }
  .footer__inner {
    margin-bottom: 90px
  }
  .footer__phone {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  .footer__rights-left {
    font-size: 16px;
  }
  .consultant.active {
    transform: translateY(10px);
  }
  .message-icon {
    padding: 15px;
  }
  .consultant {
    right: 10px;
  }
  .message img {
    width: 28%
  }
  .message {
    max-width: 230px;
  }
  .delivery__btn-wrapper {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .header__logo {
    flex-basis: 90px;
  }
  .header__tg-mobile {
    flex-basis: 170px;
  }
  .header__tg-mobile img {
    width: 40px;
  }
  .header__tg-mobile p {
    margin-left: 10px;
    font-size: 13px;
    line-height: 15px;
  }
  .main-page__text li {
    margin-left: 0;
    font-size: 21px;
    line-height: 30px;
  }
  .main-page__btn-container {
    margin-left: 30px;
  }
  .main-page .main-page__btn-container {
    width: 85%;
  }
  .main-page__btn {
    padding: 22px 40px 17px 40px
  }
  .trigger p {
    font-size: 26px;
    line-height: 40px;
  }
  .advice__video {
    height: 250px;
  }
  .sertificates__title {
    margin-bottom: 60px;
    font-size: 24px;
    line-height: 36px;
  }
  .sertificates__container {
    padding: 60px 25px 40px 25px;
  }
  .recomendations__card.swiper-slide-active .recomendations__card-title {
    font-size: 20px;
    line-height: 32px;
  }
  .recomendations__title {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 60px;
  }
  .contact__form {
    padding: 30px 20px;
  }
  .contact__form input {
    width: 90%;
    font-size: 20px;
  }
  .contact__form-title {
    font-size: 25px;
  }
  .contact__form input:last-of-type {
     padding-top: 20px; 
     padding-bottom: 20px; 
  }
  .contact__form .main-page__btn {
    padding: 22px 30px 17px 30px;
    font-size: 14px
  }
  .contact__form .main-page__btn span {
    font-size: 11px;
  }
  .delivery__title {
    font-size: 35px;
    line-height: 40px;
  }
  .delivery__right p {
    font-size: 18px
  }
  .delivery__btn {
    font-size: 16px;
    line-height: 20px;
    padding: 25px 35px 25px 35px;
  }
  .delivery__inner {
    padding-top: 100px;
  }
  .footer__list {
    width: 100%;
  }
  .footer__inner {
    margin-bottom: 195px;
  }
  .footer__btn {
    margin: 30px 0 20px 0;
  }
  .message-icon {
    margin-left: 10px
  }
  .modal__form-title {
    font-size: 25px;
  }
  .modal__form .main-page__btn-container::before {
    top: 4px;
    left: 57px;
  }
  .modal__form .main-page__btn-container::after {
    top: 48px;
    left: 3px;
  }
  .modal__form .free {
    padding: 5px 35px
  }
  .modal__form .main-page__btn {
    padding: 22px 33px 17px 33px;
    font-size: 18px;
  }
  .modal__form .main-page__btn span {
    font-size: 12px;
  }
}





#test {
  position: relative;
  z-index: 1000;
}

#slider-5 {
  background-color: red;
  margin-left: 400px;
}
